$brandColor-50: #ffe5eb;
$brandColor-100: #fabbc5;
$brandColor-200: #f08fa0;
$brandColor-300: #e8637a;
$brandColor-400: #e03854;
$brandColor-500: #c71f3a;
$brandColor-600: #9c162d;
$brandColor-700: #710e1f;
$brandColor-800: #450612;
$brandColor-900: #1e0004;

$brandAccent-50: #dafaff;
$brandAccent-100: #b0e7fd;
$brandAccent-200: #84d6f7;
$brandAccent-300: #56c4f3;
$brandAccent-400: #2bb3ee;
$brandAccent-500: #119ad4;
$brandAccent-600: #0078a6;
$brandAccent-700: #005678;
$brandAccent-800: #00344b;
$brandAccent-900: #00131f;

// Admin button array:
$panel-button-color-1: #910c22;
$panel-button-color-2: #ded63e;
$panel-button-color-3: #de2846;
$panel-button-color-4: #12a1de;
$panel-button-color-5: #136c91;
$panel-button-color-6: #28de4a;
$panel-button-color-7: #f53520;
$panel-button-color-8: #f520ae;
$panel-button-color-9: #d81eeb;

// Layout stuff:
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1300px;

$navbar-height-mobile: 64px;
$navbar-height-tablet: 68px;
$navbar-height-desktop: 68px;
