$brandColor-50: #ffe5eb;
$brandColor-100: #fabbc5;
$brandColor-200: #f08fa0;
$brandColor-300: #e8637a;
$brandColor-400: #e03854;
$brandColor-500: #c71f3a;
$brandColor-600: #9c162d;
$brandColor-700: #710e1f;
$brandColor-800: #450612;
$brandColor-900: #1e0004;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1300px;
